﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Menu.ascx.cs" Inherits="FINAL_HTTP5101.Usercontrols.Menu" %>



<asp:SqlDataSource
    runat="server"
    ID="menusrc"
    ConnectionString="<%$ ConnectionStrings:create_table %>">
</asp:SqlDataSource>

<ul class="nav navbar-nav" runat="server" id="menuitems"></ul>


